<html>
    <p> <font size = 10 >Jupyter Magic with SQL</font>
</html>

## Table of contents 
1. [Loading sql extension](#load) 
2. [Connection to the database](#connect)
3. [Querying](#query)
4. [Using variables](#variables)
5. [pyodbc without Jupyter Magic](#pyodbc)

# loading sql extension <a class="anchor" id="load"></a>

First of all, we are loading iPython sql library, then dependencies for work, then the extension to enable "SQL Magic"

In [1]:
!pip3 install ipython-sql

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\roflo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: ipython-sql in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.4.0)
Requirement already satisfied: prettytable<1 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.37)
Requirement already satisfied: six in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: colorama in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pickleshare in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.2.2.post1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.29)
Requirement already satisfied: setuptools>=18.5 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: decorator in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: asttokens in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)

In [2]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\roflo\appdata\local\programs\python\python310\lib\site-packages (4.0.32)

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\roflo\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [1]:

import pandas as pd 
import pyodbc
import numpy as np
import matplotlib as plt

%matplotlib inline

In [2]:
%load_ext sql

# how to connect to the database <a class="anchor" id="connect"></a>

Change the connection string to your database to play with the commands

Connection to the sql server database using SQL Alchemy (Object Relational Mapper for Python)
Connection string format 'mssql+pyodbc://user:password@server/database?DRIVER={enty in /etc/odbcinst.ini}'

In [3]:
%sql mssql+pyodbc://@olddsiwd

(pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# querying <a class="anchor" id="query"></a>

Lets start with a simple query <br>
If your query is short, you can write one-liner code:

In [4]:
f = 4
r = 5
f+r

9

In [ ]:
%sql SELECT TOP 10 *  FROM [Sales].[SalesOrderDetail]

If the query spans several lines, you can put the query into the variable and execute it:

In [ ]:
db_query = '''
SELECT VendorID, [250] AS Emp1, [251] AS Employee, [256] AS Emp3, [257] AS Emp4, [260] AS Emp5  
FROM   
(SELECT PurchaseOrderID, EmployeeID, VendorID  
FROM Purchasing.PurchaseOrderHeader) p  
PIVOT  
(  
COUNT (PurchaseOrderID)  
FOR EmployeeID IN  
( [250], [251], [256], [257], [260] )  
) AS pvt  
ORDER BY pvt.VendorID;  '''

In [ ]:
%sql $db_query

# using variables <a class="anchor" id="variables"></a>

In [ ]:
customerid = 11000

Two syntax options are working: $variable or :variable:

In [ ]:
%sql select top 5 *  from [Sales].[SalesOrderHeader] where CustomerID = :customerid

In [ ]:
%sql select top 5 * from [Sales].[SalesOrderHeader] where CustomerID  = $customerid

In [ ]:
type(customerid)

In [ ]:
tablename = '[Sales].[SalesOrderHeader]'

In [ ]:
%sql select top 100 * from $tablename

# store resultset into variable <a class="anchor" id="dataset"></a>

In [ ]:
db_query = '''
select top 100 * from [Sales].[SalesOrderHeader] '''

In [ ]:
result = %sql $db_query

In [ ]:
result[0]

Print full resultset:

In [ ]:
type(result)

In [ ]:
res = pd.DataFrame(data = result.dicts())

In [ ]:
res

Print second line from resultset ( starts from 0):

In [ ]:
result[10]

Print one cell from resultset:

Iterate over the resultset:

In [ ]:
for i in result.dicts():
    print (i['SalesOrderNumber'])

Look how easy to visualize the query result using pie chart:

In [ ]:
pl = %sql select top 5 SalesPersonID, sum(TotalDue) as SalesAmount from $tablename group by SalesPersonID order by sum(TotalDue) desc;

In [ ]:
pl.bar()

# pyodbc without Jupyter Magic <a class="anchor" id="pyodbc"></a>

In [9]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=AdventureWorks2020;Trusted_Connection=yes')

InterfaceError: ('28000', '[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'LAPTOP-TJF6SF1H\\roflo\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "AdventureWorks2020" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'LAPTOP-TJF6SF1H\\roflo\'. (18456); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "AdventureWorks2020" requested by the login. The login failed. (4060)')

In [ ]:
sql = "select top 100 * from [Sales].[SalesOrderHeader] "
data = pd.read_sql(sql,conn)

In [ ]:
data

In [ ]:
type(data)

In [ ]:
import pandas
sql = "SELECT * from [dbo].[titanic2022]"
data = pandas.read_sql(sql,conn2)
data

In [ ]:
foo =data[['Pclass','Survived']].values.tolist()
#.values.tolist()
foo.copy()

In [ ]:
foo =[[d,f] for d in data['Survived'].values for f in data['Pclass']]
{f for f in foo}

In [ ]:
#Azure SQl Connection
conn2 = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=2022dsiwd.database.windows.net;UID=admin2022dsiwd;DATABASE=AdventureWorks2020;PWD=Divergence!2022dsiwd')