## Assignment2
Use code to create all of the following to accomplish one or more tasks:
1. list
1. set
1. tuple
1. dictionary
1. function

Extra credit using index of variables and comprehensions

In [1]:
siblings =["Sun","Carol","Suzi","Jonathan"]
type(siblings)

list

In [2]:
siblings.append('Jun')
siblings

['Sun', 'Carol', 'Suzi', 'Jonathan', 'Jun']

In [3]:
len(siblings)

5

In [4]:
#Python is 0 indexed, R and SQL are 1 indexed
siblings[0]

'Sun'

In [5]:
#append is list as a queue FIFO - First On First Out
siblings.append("Kim")
siblings

['Sun', 'Carol', 'Suzi', 'Jonathan', 'Jun', 'Kim']

In [6]:
#pop is list as a stack LIFO - Last In First Out
kid = siblings.pop()
print(kid)
siblings

Kim

['Sun', 'Carol', 'Suzi', 'Jonathan', 'Jun']

In [7]:
kid = siblings.pop(2)
print(kid)
siblings

Suzi

['Sun', 'Carol', 'Jonathan', 'Jun']

In [8]:
#example of iterating through a list
for person in siblings: print(person)

Sun
Carol
Jonathan
Jun

In [9]:
for n in 'Name': print(n)

N
a
m
e

In [10]:
kid[3]

'i'

In [11]:
siblings_tuple = ("Sun","Carol","Jun","Kim")
type(siblings_tuple)

tuple

In [12]:
siblings_tuple

('Sun', 'Carol', 'Jun', 'Kim')

In [13]:
siblings_tuple[2]

'Jun'

In [15]:
siblings_set ={'Sun', 'Carol', 'Suzi', 'Jonathan', 'Jun'}
type(siblings_set)

set

In [18]:
people = {"Jin", "Soon", "Fred","oppa","Yi","Jim", "Bob"}

In [19]:
people & siblings_set

set()

In [21]:
people | siblings_set

{'Bob',
 'Carol',
 'Fred',
 'Jim',
 'Jin',
 'Jonathan',
 'Jun',
 'Soon',
 'Sun',
 'Suzi',
 'Yi',
 'oppa'}

In [22]:
blist = [1,2,3,4,5,4,3,4,5,6]
set(blist)

{1, 2, 3, 4, 5, 6}

In [23]:
#dictionary  a key-value pair
d_sample = {"a":1 , "b":2}
type(d_sample)

dict

In [24]:
#Python comprehension for dictionary
d_people ={k:len(k) for k in people}

In [25]:
d_people

{'oppa': 4, 'Bob': 3, 'Fred': 4, 'Yi': 2, 'Jin': 3, 'Soon': 4, 'Jim': 3}

In [26]:
#dictionary built-in attributes
d_people.keys()

dict_keys(['oppa', 'Bob', 'Fred', 'Yi', 'Jin', 'Soon', 'Jim'])

In [27]:
#dictionary built-in attributes
type(d_people.keys())

dict_keys

In [28]:
# list comprehension from dictionary
[d for d in d_people.keys()]

['oppa', 'Bob', 'Fred', 'Yi', 'Jin', 'Soon', 'Jim']

In [29]:
type([d for d in d_people.keys()])

list

In [30]:
d_people.values()

dict_values([4, 3, 4, 2, 3, 4, 3])

In [31]:
# list comprehension from dictionary
[v for v in d_people.values()]

[4, 3, 4, 2, 3, 4, 3]

In [32]:
# subscriptable/indexed assignment for update/insert
d_people["Geo"] = 9
d_people

{'oppa': 4,
 'Bob': 3,
 'Fred': 4,
 'Yi': 2,
 'Jin': 3,
 'Soon': 4,
 'Jim': 3,
 'Geo': 9}

In [33]:
d_people["New"] = 9
d_people

{'oppa': 4,
 'Bob': 3,
 'Fred': 4,
 'Yi': 2,
 'Jin': 3,
 'Soon': 4,
 'Jim': 3,
 'Geo': 9,
 'New': 9}

In [34]:
#sample function
def count_char(name):
    '''counts number of characters in input'''
    return len(name)

In [37]:
count_char('Python')

# name = 'Python'

6

In [39]:
int_strlen = count_char("countthis")
int_strlen

9

In [40]:
count_char('wow')

3

In [41]:
# function with conditional code block
def fun_longerword(word1,word2):
    '''compares length of words and shows longer one'''
    len_w1 = len(word1)
    len_w2 = len(word2)
    if len_w1 < len_w2:
        print("{} is longer".format(word2))
    else:
        print("{} is longer".format(word1))

In [43]:
fun_longerword(word2="cream",word1="kimchi")

kimchi is longer

In [44]:
# **kwargs
# pointer
d_param = {"name":"Python"}

In [45]:
type(d_param)

dict

In [46]:
count_char(**d_param)
#count_char(name='Python')

6

In [47]:
print("hello "+kid)

hello Suzi

In [48]:
print(f"Hello {siblings}")

Hello ['Sun', 'Carol', 'Jonathan', 'Jun']

In [49]:
print("Hello {0} {3} {2}".format(*siblings))

Hello Sun Jun Jonathan

In [50]:
def count_char2(name):
    return name, len(name)

In [51]:
var_out = count_char2(**d_param)
type(var_out)

tuple

In [52]:
var_out

('Python', 6)

In [53]:
var_out[1]

6

In [54]:
nm, num = count_char2(**d_param)
print(nm)
print(num)

Python
6