Retyped the code for practice

## Exercise
1. Connect to a remote or local SQL database
1. Bring data into Python from capstone or sample source
1. Do some analysis in Pandas

## Table of contents 
1. [Loading sql extension](#load) 
2. [Connection to the database](#connect)
3. [Querying](#query)
4. [Using variables](#variables)
5. [pyodbc without Jupyter Magic](#pyodbc)

# loading sql extension <a class="anchor" id="load"></a>

First of all, we are loading iPython sql library, then dependencies for work, then the extension to enable "SQL Magic"

In [1]:
!pip3 install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython>=1.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pygments in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: backcall in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: pickleshare in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\admin\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\users\admin\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\admin\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=6ded0d0a19d9ca4387999e029ec07b98087b19176e4180f0cda85a08e993aac8
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [2]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\admin\anaconda3\lib\site-packages (4.0.0-unsupported)

In [3]:

import pandas as pd 
import pyodbc
import numpy as np
import matplotlib as plt

%matplotlib inline

In [4]:
 !dir

 Volume in drive C has no label.
 Volume Serial Number is 0EA2-8857

 Directory of c:\Users\Admin\Documents\github\2022-02-DSI-WE\Ji Ho Shin\Python\SQLite and PYODBC

06/11/2022  09:37 AM    <DIR>          .
06/11/2022  09:37 AM    <DIR>          ..
06/11/2022  09:31 AM           264,431 01 SQL Server With and Without Magic.ipynb
               1 File(s)        264,431 bytes
               2 Dir(s)  50,757,869,568 bytes free

In [5]:
%load_ext sql

# how to connect to the database <a class="anchor" id="connect"></a>

Change the connection string to your database to play with the commands

Connection to the sql server database using SQL Alchemy (Object Relational Mapper for Python)
Connection string format 'mssql+pyodbc://user:password@server/database?DRIVER={enty in /etc/odbcinst.ini}'

In [6]:
%sql mssql+pyodbc://@dsiwddsn

(pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# querying <a class="anchor" id="query"></a>

Lets start with a simple query <br>
If your query is short, you can write one-liner code:

In [7]:
f = 4
r = 5
f+r

9

In [8]:
%sql SELECT TOP 10 *  FROM [Sales].[SalesOrderDetail]

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

If the query spans several lines, you can put the query into the variable and execute it:

In [9]:
var = "C:\\"
!dir $var

 Volume in drive C has no label.
 Volume Serial Number is 0EA2-8857

 Directory of C:\

02/27/2022  01:05 PM        46,580,124 aow_drv.log
09/05/2020  11:22 PM    <DIR>          Intel
12/07/2019  02:14 AM    <DIR>          PerfLogs
04/10/2022  08:35 AM    <DIR>          PL300
05/01/2022  02:59 PM    <DIR>          Power BI_Adv_M
04/23/2022  12:36 PM    <DIR>          powerbi
04/09/2022  01:16 PM    <DIR>          PowerBI_Adv_Model
06/09/2022  10:17 PM    <DIR>          Program Files
03/23/2022  03:23 PM    <DIR>          Program Files (x86)
02/27/2022  10:54 AM    <DIR>          SQL2019
07/01/2021  06:27 PM    <DIR>          SwSetup
07/09/2020  05:18 PM    <DIR>          Temp
03/22/2021  08:05 PM    <DIR>          Users
06/09/2022  02:48 PM    <DIR>          Windows
               1 File(s)     46,580,124 bytes
              13 Dir(s)  50,757,746,688 bytes free

In [10]:
db_query = '''
SELECT VendorID, [250] AS Emp1, [251] AS Employee, [256] AS Emp3, [257] AS Emp4, [260] AS Emp5  
FROM   
(SELECT PurchaseOrderID, EmployeeID, VendorID  
FROM Purchasing.PurchaseOrderHeader) p  
PIVOT  
(  
COUNT (PurchaseOrderID)  
FOR EmployeeID IN  
( [250], [251], [256], [257], [260] )  
) AS pvt  
ORDER BY pvt.VendorID;  '''

In [11]:
%sql $db_query

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# using variables <a class="anchor" id="variables"></a>

In [12]:
customerid = 11000

Two syntax options are working: $variable or :variable:

In [13]:
%sql select top 5 *  from [Sales].[SalesOrderHeader] where CustomerID = :customerid

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [14]:
%sql select top 5 * from [Sales].[SalesOrderHeader] where CustomerID  = $customerid

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [15]:
type(customerid)

int

In [16]:
tablename = '[Sales].[SalesOrderHeader]'

In [17]:
%sql select top 100 * from $tablename

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

# store resultset into variable <a class="anchor" id="dataset"></a>

In [18]:
db_query = '''
select top 100 * from [Sales].[SalesOrderHeader] '''

In [19]:
result = %sql $db_query

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [20]:
result[0]

TypeError: 'NoneType' object is not subscriptable

Print full resultset:

In [21]:
type(result)

NoneType

In [22]:
res = pd.DataFrame(data = result.dicts())

AttributeError: 'NoneType' object has no attribute 'dicts'

In [23]:
res

NameError: name 'res' is not defined

Print second line from resultset ( starts from 0):

In [24]:
result[10]

TypeError: 'NoneType' object is not subscriptable

Print one cell from resultset:

Iterate over the resultset:

In [25]:
for i in result.dicts():
    print (i['SalesOrderNumber'])

AttributeError: 'NoneType' object has no attribute 'dicts'

Look how easy to visualize the query result using pie chart:

In [26]:
pl = %sql select top 5 SalesPersonID, sum(TotalDue) as SalesAmount from $tablename group by SalesPersonID order by sum(TotalDue) desc;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [27]:
pl.bar()

AttributeError: 'NoneType' object has no attribute 'bar'

# pyodbc without Jupyter Magic <a class="anchor" id="pyodbc"></a>

In [28]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=AdventureWorks2019;Trusted_Connection=yes')

In [29]:
#DSN sample
import pyodbc
import pandas as pd
conn = pyodbc.connect('DSN=dsiwddsn')

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

In [30]:
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=2022dsiwd.database.windows.net;DATABASE=AdventureWorks2019;UID=admin2022dsiwd;PWD=Divergence!2022dsiwd')

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open server '2022dsiwd' requested by the login. Client with IP address '98.45.157.112' is not allowed to access the server.  To enable access, use the Windows Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range.  It may take up to five minutes for this change to take effect. (40615) (SQLDriverConnect); [42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open server '2022dsiwd' requested by the login. Client with IP address '98.45.157.112' is not allowed to access the server.  To enable access, use the Windows Azure Management Portal or run sp_set_firewall_rule on the master database to create a firewall rule for this IP address or address range.  It may take up to five minutes for this change to take effect. (40615)")

In [31]:
sql = "select top 100 * from [Sales].[SalesOrderHeader] "
data = pd.read_sql(sql,conn)

In [32]:
data

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,None,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07
1,43660,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
2,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07
3,43662,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43662,PO18444174044,10-4020-000227,...,10456.0,125295Vi53935,4.0,28832.5289,2775.1646,867.2389,32474.9324,None,4A1ECFC0-CC3A-4740-B028-1C50BB48711C,2011-06-07
4,43663,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43663,PO18009186470,10-4020-000510,...,4322.0,45303Vi22691,NaN,419.4589,40.2681,12.5838,472.3108,None,9B1E7A40-6AE0-4AD3-811C-A64951857C4B,2011-06-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,43754,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43754,None,10-4030-027617,...,9734.0,630188Vi50171,NaN,3578.2700,286.2616,89.4568,3953.9884,None,86B0C2B9-6ABD-4B69-9C76-2B702B604D77,2011-06-21
96,43755,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43755,None,10-4030-027670,...,14614.0,1030205Vi75785,NaN,3578.2700,286.2616,89.4568,3953.9884,None,98337979-2598-4E10-8666-4823D1EB0564,2011-06-21
97,43756,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43756,None,10-4030-019941,...,9528.0,830399Vi49119,191.0,699.0982,55.9279,17.4775,772.5036,None,6D3EE374-D017-4007-9BA3-8966F2B3CD00,2011-06-21
98,43757,8,2011-06-14,2011-06-26,2011-06-21,5,True,SO43757,None,10-4030-011017,...,12801.0,635102Vi66203,184.0,3374.9900,269.9992,84.3748,3729.3640,None,238FD676-5C9C-44A6-8C10-F890887887B6,2011-06-21
99,43758,8,2011-06-15,2011-06-27,2011-06-22,5,True,SO43758,None,10-4030-027646,...,17093.0,1230195Vi88773,NaN,3578.2700,286.2616,89.4568,3953.9884,None,C54AB7FA-B136-4954-9E52-ED8283E91460,2011-06-22

In [33]:
type(data)

pandas.core.frame.DataFrame

In [34]:
import pandas
sql = "SELECT * from [dbo].[titanic2022]"
data = pandas.read_sql(sql,conn2)
data

NameError: name 'conn2' is not defined

In [35]:
foo =data[['Pclass','Survived']].values.tolist()
#.values.tolist()
foo.copy()

KeyError: "None of [Index(['Pclass', 'Survived'], dtype='object')] are in the [columns]"