In [1]:
children =["Andrew","Laura","Joe"]

In [2]:
type(children)

list

In [51]:
print (children)
children.pop()
print (children)

['Andrew', 'Laura', 'Joe']
['Andrew', 'Laura']

In [52]:
print (children)
children.remove('Andrew')
print (children)

['Andrew', 'Laura']
['Laura']

In [54]:
#checking that input is an integer
'Laura' in children

True

In [56]:
'8' in '1234567890'

True

In [57]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [58]:
type(movies)

list

In [61]:
type(movies[1][1])

int

In [62]:
movies[1][0]

'Life of Brian'

In [66]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [68]:
#list to str
" ".join(lob_list)

'Life of Brian'

In [63]:
students[1][3]

100

In [64]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [65]:
print(movies)

[['The Holy Grail', 1975, 9.99], ['Life of Brian', 1979, 12.3], ['The Meaning of Life', 1983, 7.5], ['Kundun', 1997, 4.7]]

In [69]:
lssimple =[1,2,1,3,2,2,2,2,]

In [70]:
lssimple.index(2)

1

In [71]:
lssimple.count(2)

5

In [79]:
lssimple.reverse()
lssimple

[1, 2, 1, 3, 2, 2, 2, 2]

In [78]:
children

['Laura']

In [80]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [82]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.__len__,reverse = True)
children

['Andrew', 'Laura', 'Joe']

In [85]:
print(sum(lssimple))

15

In [86]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [87]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [88]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [90]:
#inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [91]:
chest

['scroll', 'pestle']

In [97]:
chest[2]

IndexError: list index out of range

In [98]:
foobar

NameError: name 'foobar' is not defined

In [92]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [93]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [94]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [96]:
my_dict2['g']

KeyError: 'g'

In [103]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    else:
        print("unknown")
    return value

print(sillytry('e'))

end
unknown
[1, 3]

In [100]:
print(sillytry('x'))

end
invalid key

In [102]:
print(sillytry('b'))

end
string
2

In [104]:
print(sillytry('c'))

end
int
3

In [105]:
children[4]

IndexError: list index out of range

In [106]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [107]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3}

In [108]:
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newerdata'}

In [109]:
value = my_dict2.get('f')
print(value is None)

True

In [110]:
type(my_dict2.get('f'))

NoneType

In [111]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'newerdata'])

In [112]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'h'])

In [113]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('h', 'newerdata')])

In [114]:
my_dict2['e']

[1, 3]

In [115]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: h value newerdata

In [116]:
print(list(my_dict2))

['e', 'b', 'c', 'h']

In [117]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [118]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [119]:
contacts['Ben']['address']

'1400 Another Street'

In [120]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [121]:
contacts.get('Anne').get('email')

In [124]:
members = ["John Cleese", "Eric Idle","Terry Jones"]
with open("members.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [138]:
lst = []
with open("members.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [139]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [125]:
!head members.txt

members
John Cleese
Eric Idle
Terry Jones

In [126]:
list(my_dict2)

['e', 'b', 'c', 'h']

In [128]:
with open("my_dict2_items.tsv", "w",  newline="") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [129]:
!head my_dict2_items.tsv

e	[1, 3]
b	2
c	3
h	newerdata

In [ ]:
my_dict2

In [133]:
import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [131]:
!head my_dict2_items.csv

e,[,1,",", ,3,]
b,2
c,3
h,n,e,w,e,r,d,a,t,a

In [ ]:
#read from file
my_dict2["a"]

### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that read1s a file from the complex data type
    1. one function that writes a file from the complex data type

In [3]:
pokemon_1 = ["Pikachu","Bulbasaur","Charmander","Squirtle","Mew","Ditto","Oddish","Vulpix","Abra"]
pokemon_1

['Pikachu',
 'Bulbasaur',
 'Charmander',
 'Squirtle',
 'Mew',
 'Ditto',
 'Oddish',
 'Vulpix',
 'Abra']

In [4]:
type(pokemon_1)

list

In [6]:
#check for input is an integer
"Mew" in pokemon_1

True

In [10]:
# With 4 rows and 4 columns
pokemon_2 = [["Pikachu", 35, 55, 40],
            ["Venusaur", 80, 82, 83],
            ["Charizard", 78, 84, 78],
            ["Blastoise",79, 83, 100]]
pokemon_2

[['Pikachu', 35, 55, 40],
 ['Venusaur', 80, 82, 83],
 ['Charizard', 78, 84, 78],
 ['Blastoise', 79, 83, 100]]

In [11]:
type(pokemon_2)

list

In [15]:
type(pokemon_1[1][1])

str

In [16]:
type(pokemon_2)

list

In [17]:
type(pokemon_2[1][1])

int

In [19]:
pokemon_2[1][0]

'Venusaur'

In [20]:
pokemon_battle_script = ["Wild Pokemon Appeared!","What will Pikachu do?", "Fight","Pikachu Used Thundershock!","It's Super Effective!"]
pokemon_battle_script

['Wild Pokemon Appeared!',
 'What will Pikachu do?',
 'Fight',
 'Pikachu Used Thundershock!',
 "It's Super Effective!"]

In [21]:
print(pokemon_battle_script)

['Wild Pokemon Appeared!', 'What will Pikachu do?', 'Fight', 'Pikachu Used Thundershock!', "It's Super Effective!"]

In [25]:
# str to list
pokemon_battle_script_split = pokemon_battle_script[0].split(" ")
pokemon_battle_script_split

['Wild', 'Pokemon', 'Appeared!']

In [26]:
# str to list (separating the string into individual words/items)
pokemon_battle_script_split = pokemon_battle_script[3].split(" ")
pokemon_battle_script_split

['Pikachu', 'Used', 'Thundershock!']

In [27]:
#list to str using "join" (putting the string words/items back together)
" ".join(pokemon_battle_script_split)

'Pikachu Used Thundershock!'

In [30]:
#add items to the exisiting created list using "append"
pokemon_2_1 = []
pokemon_2_1.append('Eevee')
pokemon_2_1.append(55)
pokemon_2_1.append(55)
pokemon_2_1.append(50)
print(pokemon_2_1)

['Eevee', 55, 55, 50]

In [33]:
print (pokemon_2)

[['Pikachu', 35, 55, 40], ['Venusaur', 80, 82, 83], ['Charizard', 78, 84, 78], ['Blastoise', 79, 83, 100], ['Eevee', 55, 55, 50]]

In [34]:
pokemon_2

[['Pikachu', 35, 55, 40],
 ['Venusaur', 80, 82, 83],
 ['Charizard', 78, 84, 78],
 ['Blastoise', 79, 83, 100],
 ['Eevee', 55, 55, 50]]

In [35]:
# add two defined variables together

pokemon_add_1 = ["Vaporeon","Jolteon","Flareon"]
pokemon_add_2 = ["Espeon","Umbreon"]
pokemon_add_3 = ["Leafeon","Glaceon"]
pokemon_add_4 = ["Sylveon"]

print (pokemon_add_1 + pokemon_add_2 + pokemon_add_3 + pokemon_add_4)
print (pokemon_add_4 + pokemon_add_3 + pokemon_add_2 + pokemon_add_1)

['Vaporeon', 'Jolteon', 'Flareon', 'Espeon', 'Umbreon', 'Leafeon', 'Glaceon', 'Sylveon']
['Sylveon', 'Leafeon', 'Glaceon', 'Espeon', 'Umbreon', 'Vaporeon', 'Jolteon', 'Flareon']

In [37]:
pokemon_starter_base_stats = {
    "Bulbasaur":{"HP": "45", "Attack": "49",
         "Defense": "49", "Special Attack": "65", 
         "Special Defense": "65", "Speed": "45"},
    "Charmander":{"HP": "39", "Attack": "52",
         "Defense": "43", "Special Attack": "60", 
         "Special Defense": "50", "Speed": "65"},
    "Squirtle": {"HP": "44", "Attack": "48",
         "Defense": "64", "Special Attack": "50", 
         "Special Defense": "64", "Speed": "43"}
}
pokemon_starter_base_stats

{'Bulbasaur': {'HP': '45',
  'Attack': '49',
  'Defense': '49',
  'Special Attack': '65',
  'Special Defense': '65',
  'Speed': '45'},
 'Charmander': {'HP': '39',
  'Attack': '52',
  'Defense': '43',
  'Special Attack': '60',
  'Special Defense': '50',
  'Speed': '65'},
 'Squirtle': {'HP': '44',
  'Attack': '48',
  'Defense': '64',
  'Special Attack': '50',
  'Special Defense': '64',
  'Speed': '43'}}

In [38]:
print(pokemon_starter_base_stats.keys())
print(pokemon_starter_base_stats.items())
print(pokemon_starter_base_stats.values())

dict_keys(['Bulbasaur', 'Charmander', 'Squirtle'])
dict_items([('Bulbasaur', {'HP': '45', 'Attack': '49', 'Defense': '49', 'Special Attack': '65', 'Special Defense': '65', 'Speed': '45'}), ('Charmander', {'HP': '39', 'Attack': '52', 'Defense': '43', 'Special Attack': '60', 'Special Defense': '50', 'Speed': '65'}), ('Squirtle', {'HP': '44', 'Attack': '48', 'Defense': '64', 'Special Attack': '50', 'Special Defense': '64', 'Speed': '43'})])
dict_values([{'HP': '45', 'Attack': '49', 'Defense': '49', 'Special Attack': '65', 'Special Defense': '65', 'Speed': '45'}, {'HP': '39', 'Attack': '52', 'Defense': '43', 'Special Attack': '60', 'Special Defense': '50', 'Speed': '65'}, {'HP': '44', 'Attack': '48', 'Defense': '64', 'Special Attack': '50', 'Special Defense': '64', 'Speed': '43'}])

In [39]:
pokemon_starter_base_stats['Charmander']['HP']

'39'

In [40]:
pokemon_starter_base_stats.get('Charmander').get('HP')

'39'

In [41]:
pokemon_starter_base_stats.get('Bulbasaur').get('Special Defense')

'65'

In [42]:
pokemon_starter_base_stats['Squirtle']['Speed']

'43'

In [43]:
#write a .txt file with "open" and "file.write" function

legendary_pokemon = ["Mewtwo", "Dalgia","Moltres","Lugia","Giratina","Suicune","Zapdos","Rayquaza","Articuno","Ho-Oh","Palkia","Heatran","Raikou","Azelf","Groudon", "Entei", "Cresselia","Kyogre","Uxie" ]
with open("legendary_pokemon.txt", "w") as file:
    file.write("legendary_pokemon"+ "\n")
    for m in legendary_pokemon:
        file.write(m + "\n")          # adds new line

In [44]:
#append the written .txt file

pokemon_list_1 = []
with open("legendary_pokemon.txt", "r") as file:
    for r in file.read():
        pokemon_list_1.append(r)
pokemon_list_1

['l',
 'e',
 'g',
 'e',
 'n',
 'd',
 'a',
 'r',
 'y',
 '_',
 'p',
 'o',
 'k',
 'e',
 'm',
 'o',
 'n',
 '\n',
 'M',
 'e',
 'w',
 't',
 'w',
 'o',
 '\n',
 'D',
 'a',
 'l',
 'g',
 'i',
 'a',
 '\n',
 'M',
 'o',
 'l',
 't',
 'r',
 'e',
 's',
 '\n',
 'L',
 'u',
 'g',
 'i',
 'a',
 '\n',
 'G',
 'i',
 'r',
 'a',
 't',
 'i',
 'n',
 'a',
 '\n',
 'S',
 'u',
 'i',
 'c',
 'u',
 'n',
 'e',
 '\n',
 'Z',
 'a',
 'p',
 'd',
 'o',
 's',
 '\n',
 'R',
 'a',
 'y',
 'q',
 'u',
 'a',
 'z',
 'a',
 '\n',
 'A',
 'r',
 't',
 'i',
 'c',
 'u',
 'n',
 'o',
 '\n',
 'H',
 'o',
 '-',
 'O',
 'h',
 '\n',
 'P',
 'a',
 'l',
 'k',
 'i',
 'a',
 '\n',
 'H',
 'e',
 'a',
 't',
 'r',
 'a',
 'n',
 '\n',
 'R',
 'a',
 'i',
 'k',
 'o',
 'u',
 '\n',
 'A',
 'z',
 'e',
 'l',
 'f',
 '\n',
 'G',
 'r',
 'o',
 'u',
 'd',
 'o',
 'n',
 '\n',
 'E',
 'n',
 't',
 'e',
 'i',
 '\n',
 'C',
 'r',
 'e',
 's',
 's',
 'e',
 'l',
 'i',
 'a',
 '\n',
 'K',
 'y',
 'o',
 'g',
 'r',
 'e',
 '\n',
 'U',
 'x',
 'i',
 'e',
 '\n']

In [45]:
#generate appended .txt file using 'r' to read the file

pokemon_list_1 = []
with open("legendary_pokemon.txt", "r") as file:
    for r in file.readlines():
        pokemon_list_1.append(r)
pokemon_list_1

['legendary_pokemon\n',
 'Mewtwo\n',
 'Dalgia\n',
 'Moltres\n',
 'Lugia\n',
 'Giratina\n',
 'Suicune\n',
 'Zapdos\n',
 'Rayquaza\n',
 'Articuno\n',
 'Ho-Oh\n',
 'Palkia\n',
 'Heatran\n',
 'Raikou\n',
 'Azelf\n',
 'Groudon\n',
 'Entei\n',
 'Cresselia\n',
 'Kyogre\n',
 'Uxie\n']

In [51]:
#open the .txt file

!legendary_pokemon.txt

In [ ]:
import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))