In [1]:
children =["Mark","Luke","Joseph"]

In [2]:
print (children)
children.pop()
print (children)

['Mark', 'Luke', 'Joseph']
['Mark', 'Luke']

In [4]:
print (children)
children.remove('Mark')
print (children)

['Mark', 'Luke']
['Luke']

In [5]:
#checking that input is an integer
'Luke' in children

True

In [6]:
'8' in '1234567890'

True

In [7]:
# With 3 rows and 4 columns
students = [["Joel", 85, 95, 70],
            ["Anne", 95, 100, 100],
            ["Mike", 77, 70, 80, 85]]
# With 3 rows and 3 columns
movies = [["The Holy Grail", 1975, 9.99],
          ["Life of Brian", 1979, 12.30],
          ["The Meaning of Life", 1983, 7.50]]

In [8]:
type(movies)

list

In [9]:
type(movies[1][1])

int

In [62]:
movies[1][0]

'Life of Brian'

In [10]:
# str to list
lob_list = movies[1][0].split(" ")
lob_list

['Life', 'of', 'Brian']

In [11]:
#list to str
" ".join(lob_list)

'Life of Brian'

In [12]:
students[1][3]

100

In [13]:
flick = []
flick.append('Kundun')
flick.append(1997)
flick.append(4.7)
movies.append(flick)
movies

[['The Holy Grail', 1975, 9.99],
 ['Life of Brian', 1979, 12.3],
 ['The Meaning of Life', 1983, 7.5],
 ['Kundun', 1997, 4.7]]

In [14]:
print(movies)

[['The Holy Grail', 1975, 9.99], ['Life of Brian', 1979, 12.3], ['The Meaning of Life', 1983, 7.5], ['Kundun', 1997, 4.7]]

In [15]:
lssimple =[1,2,1,3,2,2,2,2,]

In [16]:
lssimple.index(2)

1

In [17]:
lssimple.count(2)

5

In [18]:
lssimple.reverse()
lssimple

[2, 2, 2, 2, 3, 1, 2, 1]

In [19]:
children

['Luke']

In [20]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.lower)
children

['Andrew', 'Joe', 'Laura']

In [21]:
children =["Andrew","Laura","Joe"]
children.sort(key=str.__len__,reverse = True)
children

['Andrew', 'Laura', 'Joe']

In [22]:
print(sum(lssimple))

15

In [23]:
# slicer syntax
#list[start_index:end_index:step]
fancy = [52,54,56,58,60,62]
print(fancy[0:2])
print(fancy[::-1])

[52, 54]
[62, 60, 58, 56, 54, 52]

In [24]:
print(fancy[0:4:2])
print(fancy[:2])

[52, 56]
[52, 54]

In [25]:
inv = ["staff","robe"]
chest = ["scroll","pestle"]

print(chest + inv)
print(inv + chest)

['scroll', 'pestle', 'staff', 'robe']
['staff', 'robe', 'scroll', 'pestle']

In [26]:
#inv = inv + chest
inv += chest
inv

['staff', 'robe', 'scroll', 'pestle']

In [27]:
chest

['scroll', 'pestle']

In [28]:
chest[2]

IndexError: list index out of range

In [98]:
foobar

NameError: name 'foobar' is not defined

In [29]:
my_dict2 = {'e': [1,3], 'b': "2", 'c': 3, 'a':[(1, True),
 (1, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (2, True),
 (3, False)]}

In [30]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'a'])

In [31]:
my_dict2.values()

dict_values([[1, 3], '2', 3, [(1, True), (1, True), (2, True), (2, True), (2, True), (2, True), (2, True), (3, False)]])

In [32]:
my_dict2['g']

KeyError: 'g'

In [33]:
def sillytry(keyname):
    #exception handling
    #try block
    try:
        value = my_dict2[keyname]
    except KeyError:
        value = 'invalid key'
    finally:
        print('end')
    if type(value) == str:
        print("string")
    elif type(value) == int:
        print("int")
    else:
        print("unknown")
    return value

print(sillytry('e'))

end
unknown
[1, 3]

In [34]:
print(sillytry('x'))

end
string
invalid key

In [35]:
print(sillytry('b'))

end
string
2

In [36]:
print(sillytry('c'))

end
int
3

In [37]:
children[4]

IndexError: list index out of range

In [38]:
my_dict2

{'e': [1, 3],
 'b': '2',
 'c': 3,
 'a': [(1, True),
  (1, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (2, True),
  (3, False)]}

In [39]:
my_dict2.pop('a')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3}

In [108]:
my_dict2.setdefault('h','newerdata')
my_dict2

{'e': [1, 3], 'b': '2', 'c': 3, 'h': 'newerdata'}

In [109]:
value = my_dict2.get('f')
print(value is None)

True

In [110]:
type(my_dict2.get('f'))

NoneType

In [111]:
my_dict2.values()

dict_values([[1, 3], '2', 3, 'newerdata'])

In [112]:
my_dict2.keys()

dict_keys(['e', 'b', 'c', 'h'])

In [113]:
my_dict2.items()

dict_items([('e', [1, 3]), ('b', '2'), ('c', 3), ('h', 'newerdata')])

In [114]:
my_dict2['e']

[1, 3]

In [115]:
for k,v in my_dict2.items():
    print('key: {} value {}'.format(k,v))

key: e value [1, 3]
key: b value 2
key: c value 3
key: h value newerdata

In [116]:
print(list(my_dict2))

['e', 'b', 'c', 'h']

In [40]:
contacts = {
    "Joel":{"address": "1500 Anystreet", "city": "San Francisco",
         "state": "California", "postalCode": "94110", 
         "phone": "555-555-1111"},
    "Anne":{"address": "1000 Somestreet", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-2222"},
    "Ben": {"address": "1400 Another Street", "city": "Fresno",
         "state": "California", "postalCode": "93704", 
         "phone": "125-555-4444"}
}

In [118]:
print(contacts.keys())
print(contacts.items())
print(contacts.values())

dict_keys(['Joel', 'Anne', 'Ben'])
dict_items([('Joel', {'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}), ('Anne', {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}), ('Ben', {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'})])
dict_values([{'address': '1500 Anystreet', 'city': 'San Francisco', 'state': 'California', 'postalCode': '94110', 'phone': '555-555-1111'}, {'address': '1000 Somestreet', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-2222'}, {'address': '1400 Another Street', 'city': 'Fresno', 'state': 'California', 'postalCode': '93704', 'phone': '125-555-4444'}])

In [41]:
contacts['Ben']['address']

'1400 Another Street'

In [120]:
contacts.get('Ben').get('address')

'1400 Another Street'

In [43]:
contacts.get('Anne').get('email')

In [42]:
members = ["John Cleese", "Eric Idle","Terry Jones"]
with open("members.txt", "w") as file:
    file.write("members"+ "\n")
    for m in members:
        file.write(m + "\n")          # adds new line

In [44]:
lst = []
with open("members.txt", "r") as file:
    for r in file.read():
        lst.append(r)
lst

['m',
 'e',
 'm',
 'b',
 'e',
 'r',
 's',
 '\n',
 'J',
 'o',
 'h',
 'n',
 ' ',
 'C',
 'l',
 'e',
 'e',
 's',
 'e',
 '\n',
 'E',
 'r',
 'i',
 'c',
 ' ',
 'I',
 'd',
 'l',
 'e',
 '\n',
 'T',
 'e',
 'r',
 'r',
 'y',
 ' ',
 'J',
 'o',
 'n',
 'e',
 's',
 '\n']

In [45]:
lst = []
with open("members.txt", "r") as file:
    for r in file.readlines():
        lst.append(r)
lst

['members\n', 'John Cleese\n', 'Eric Idle\n', 'Terry Jones\n']

In [46]:
!head members.txt

'head' is not recognized as an internal or external command,
operable program or batch file.

In [126]:
list(my_dict2)

['e', 'b', 'c', 'h']

In [128]:
with open("my_dict2_items.tsv", "w",  newline="") as file:
    for x in list(my_dict2):
        file.write(x+'\t'+str(my_dict2[x])+"\n")

In [129]:
!head my_dict2_items.tsv

e	[1, 3]
b	2
c	3
h	newerdata

In [ ]:
my_dict2

In [133]:
import csv
with open("my_dict2_items.csv", "w",  newline="") as file:
    writer = csv.writer(file)
    for x in list(my_dict2):
        writer.writerow(str(x)+str(my_dict2[x]))

In [131]:
!head my_dict2_items.csv

e,[,1,",", ,3,]
b,2
c,3
h,n,e,w,e,r,d,a,t,a

In [ ]:
my_dict2["a"]

In [ ]:
# read from file

### Exercise
1. Create a complex data type
    1. Use a combination of at least two of these data structure in one variable
        1. list
        1. dictionary
        1. tuple
        1. set

1. Write two functions
    1. Requirements
        1. Use exception handling
    1. one function that read1s a file from the complex data type
    1. one function that writes a file from the complex data type