## Exercise
1. Connect to a remote or local SQL database
1. Bring data into Python from capstone or sample source
1. Do some analysis in Pandas

## Table of contents 
1. [Loading sql extension](#load) 
2. [Connection to the database](#connect)
3. [Querying](#query)
4. [Using variables](#variables)
5. [pyodbc without Jupyter Magic](#pyodbc)

# loading sql extension <a class="anchor" id="load"></a>

First of all, we are loading iPython sql library, then dependencies for work, then the extension to enable "SQL Magic"

In [ ]:
!pip3 install ipython-sql

In [ ]:
!pip install pyodbc

In [ ]:

import pandas as pd 
import pyodbc
import numpy as np
import matplotlib as plt

%matplotlib inline

In [ ]:
 !dir

In [ ]:
%load_ext sql

# how to connect to the database <a class="anchor" id="connect"></a>

Change the connection string to your database to play with the commands

Connection to the sql server database using SQL Alchemy (Object Relational Mapper for Python)
Connection string format 'mssql+pyodbc://user:password@server/database?DRIVER={enty in /etc/odbcinst.ini}'

In [ ]:
%sql mssql+pyodbc://@dsiwddsn

# querying <a class="anchor" id="query"></a>

Lets start with a simple query <br>
If your query is short, you can write one-liner code:

In [ ]:
f = 4
r = 5
f+r

In [ ]:
%sql SELECT TOP 10 *  FROM [Sales].[SalesOrderDetail]

If the query spans several lines, you can put the query into the variable and execute it:

In [ ]:
var = "C:\\"
!dir $var

In [ ]:
db_query = '''
SELECT VendorID, [250] AS Emp1, [251] AS Employee, [256] AS Emp3, [257] AS Emp4, [260] AS Emp5  
FROM   
(SELECT PurchaseOrderID, EmployeeID, VendorID  
FROM Purchasing.PurchaseOrderHeader) p  
PIVOT  
(  
COUNT (PurchaseOrderID)  
FOR EmployeeID IN  
( [250], [251], [256], [257], [260] )  
) AS pvt  
ORDER BY pvt.VendorID;  '''

In [ ]:
%sql $db_query

# using variables <a class="anchor" id="variables"></a>

In [ ]:
customerid = 11000

Two syntax options are working: $variable or :variable:

In [ ]:
%sql select top 5 *  from [Sales].[SalesOrderHeader] where CustomerID = :customerid

In [ ]:
%sql select top 5 * from [Sales].[SalesOrderHeader] where CustomerID  = $customerid

In [ ]:
type(customerid)

In [ ]:
tablename = '[Sales].[SalesOrderHeader]'

In [ ]:
%sql select top 100 * from $tablename

# store resultset into variable <a class="anchor" id="dataset"></a>

In [ ]:
db_query = '''
select top 100 * from [Sales].[SalesOrderHeader] '''

In [ ]:
result = %sql $db_query

In [ ]:
result[0]

Print full resultset:

In [ ]:
type(result)

In [ ]:
res = pd.DataFrame(data = result.dicts())

In [ ]:
res

Print second line from resultset ( starts from 0):

In [ ]:
result[10]

Print one cell from resultset:

Iterate over the resultset:

In [ ]:
for i in result.dicts():
    print (i['SalesOrderNumber'])

Look how easy to visualize the query result using pie chart:

In [ ]:
pl = %sql select top 5 SalesPersonID, sum(TotalDue) as SalesAmount from $tablename group by SalesPersonID order by sum(TotalDue) desc;

In [ ]:
pl.bar()

# pyodbc without Jupyter Magic <a class="anchor" id="pyodbc"></a>

In [ ]:
# example for VM and your personal machine 
import pyodbc
import pandas as pd
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=AdventureWorks2019;Trusted_Connection=yes')

In [ ]:
# Example of namedinstance for VM
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost\SQLEXPRESS;DATABASE=AdventureWorks2019;Trusted_Connection=yes')

In [ ]:
#DSN sample
import pyodbc
import pandas as pd
conn = pyodbc.connect('DSN=dsiwddsn')

In [ ]:
#Connection string for Azure SQL instance
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=2022dsiwd.database.windows.net;DATABASE=AdventureWorks2019;UID=admin2022dsiwd;PWD=Divergence!2022dsiwd')

In [ ]:
sql = "select top 100 * from [Sales].[SalesOrderHeader] "
data = pd.read_sql(sql,conn)

In [ ]:
data

In [ ]:
type(data)

In [ ]:
import pandas
sql = "SELECT * from [dbo].[titanic2022]"
data = pandas.read_sql(sql,conn2)
data

In [ ]:
foo =data[['Pclass','Survived']].values.tolist()
#.values.tolist()
foo.copy()