<html>
    <p> <font size = 10 >Jupyter Magic with SQL</font>
</html>

## Table of contents 
1. [Loading sql extension](#load) 
2. [Connection to the database](#connect)
3. [Querying](#query)
4. [Using variables](#variables)
5. [pyodbc without Jupyter Magic](#pyodbc)

# loading sql extension <a class="anchor" id="load"></a>

First of all, we are loading iPython sql library, then dependencies for work, then the extension to enable "SQL Magic"

In [ ]:
!pip3 install ipython-sql

In [ ]:
!pip install pyodbc

In [ ]:

import pandas as pd 
import pyodbc
import numpy as np
import matplotlib as plt

%matplotlib inline

In [ ]:
%load_ext sql

# how to connect to the database <a class="anchor" id="connect"></a>

Change the connection string to your database to play with the commands

Connection to the sql server database using SQL Alchemy (Object Relational Mapper for Python)
Connection string format 'mssql+pyodbc://user:password@server/database?DRIVER={enty in /etc/odbcinst.ini}'

In [ ]:
%sql mssql+pyodbc://@localsqldsn

# querying <a class="anchor" id="query"></a>

Lets start with a simple query <br>
If your query is short, you can write one-liner code:

In [ ]:
f = 4
r = 5
f+r

In [18]:
%sql SELECT TOP 10 *  FROM [Sales].[SalesOrderDetail]

 * mssql+pyodbc://@localsqldsn
Done.

[(43659, 1, '4911-403C-98', 1, 776, 1, Decimal('2024.9940'), Decimal('0.0000'), Decimal('2024.994000'), 'B207C96D-D9E6-402B-8470-2CC176C42283', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 2, '4911-403C-98', 3, 777, 1, Decimal('2024.9940'), Decimal('0.0000'), Decimal('6074.982000'), '7ABB600D-1E77-41BE-9FE5-B9142CFC08FA', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 3, '4911-403C-98', 1, 778, 1, Decimal('2024.9940'), Decimal('0.0000'), Decimal('2024.994000'), '475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 4, '4911-403C-98', 1, 771, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('2039.994000'), '04C4DE91-5815-45D6-8670-F462719FBCE3', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 5, '4911-403C-98', 1, 772, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('2039.994000'), '5A74C7D2-E641-438E-A7AC-37BF23280301', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 6, '4911-403C-98', 2, 773, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('4079.988000'), 'CE472532-A4C0-45BA-816E-EEFD3FD848B3', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 7, '4911-403C-98', 1, 774, 1, Decimal('2039.9940'), Decimal('0.0000'), Decimal('2039.994000'), '80667840-F962-4EE3-96E0-AECA108E0D4F', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 8, '4911-403C-98', 3, 714, 1, Decimal('28.8404'), Decimal('0.0000'), Decimal('86.521200'), 'E9D54907-E7B7-4969-80D9-76BA69F8A836', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 9, '4911-403C-98', 1, 716, 1, Decimal('28.8404'), Decimal('0.0000'), Decimal('28.840400'), 'AA542630-BDCD-4CE5-89A0-C1BF82747725', datetime.datetime(2011, 5, 31, 0, 0)),
 (43659, 10, '4911-403C-98', 6, 709, 1, Decimal('5.7000'), Decimal('0.0000'), Decimal('34.200000'), 'AC769034-3C2F-495C-A5A7-3B71CDB25D4E', datetime.datetime(2011, 5, 31, 0, 0))]

If the query spans several lines, you can put the query into the variable and execute it:

In [19]:
db_query = '''
SELECT VendorID, [250] AS Emp1, [251] AS Employee, [256] AS Emp3, [257] AS Emp4, [260] AS Emp5  
FROM   
(SELECT PurchaseOrderID, EmployeeID, VendorID  
FROM Purchasing.PurchaseOrderHeader) p  
PIVOT  
(  
COUNT (PurchaseOrderID)  
FOR EmployeeID IN  
( [250], [251], [256], [257], [260] )  
) AS pvt  
ORDER BY pvt.VendorID;  '''

In [20]:
%sql $db_query

 * mssql+pyodbc://@localsqldsn
Done.

[(1492, 2, 5, 4, 4, 4),
 (1494, 2, 5, 4, 5, 4),
 (1496, 2, 4, 4, 5, 5),
 (1498, 2, 5, 4, 4, 4),
 (1500, 3, 4, 4, 5, 4),
 (1504, 2, 5, 5, 4, 5),
 (1506, 2, 4, 5, 5, 5),
 (1508, 2, 4, 4, 6, 5),
 (1510, 2, 4, 4, 5, 5),
 (1514, 2, 4, 4, 5, 4),
 (1516, 1, 5, 5, 4, 5),
 (1518, 0, 0, 1, 0, 0),
 (1520, 0, 0, 0, 0, 1),
 (1522, 2, 6, 4, 4, 4),
 (1526, 3, 5, 4, 5, 4),
 (1530, 2, 4, 5, 5, 5),
 (1534, 1, 5, 5, 4, 5),
 (1536, 3, 4, 4, 5, 4),
 (1538, 3, 4, 4, 5, 4),
 (1540, 2, 4, 5, 5, 5),
 (1542, 2, 5, 4, 4, 5),
 (1544, 2, 5, 5, 4, 5),
 (1546, 0, 0, 0, 0, 0),
 (1548, 1, 5, 5, 4, 5),
 (1554, 2, 5, 5, 4, 4),
 (1556, 2, 5, 4, 4, 4),
 (1560, 2, 4, 4, 5, 5),
 (1562, 1, 5, 5, 4, 5),
 (1566, 2, 6, 5, 4, 4),
 (1568, 2, 5, 4, 4, 5),
 (1570, 2, 5, 5, 4, 4),
 (1572, 2, 5, 5, 4, 4),
 (1574, 0, 0, 0, 0, 1),
 (1576, 2, 4, 5, 5, 5),
 (1578, 2, 4, 4, 5, 5),
 (1580, 2, 4, 5, 5, 5),
 (1582, 2, 4, 5, 6, 5),
 (1584, 2, 4, 6, 5, 5),
 (1586, 2, 4, 4, 5, 5),
 (1588, 2, 4, 4, 5, 5),
 (1590, 2, 4, 4, 5, 5),
 (1592, 2, 5, 4, 4, 4),
 (1594, 0, 1, 0, 0, 0),
 (1598, 2, 4, 5, 5, 5),
 (1600, 3, 4, 4, 5, 4),
 (1602, 2, 5, 5, 4, 5),
 (1604, 3, 4, 4, 6, 4),
 (1608, 1, 5, 5, 4, 5),
 (1610, 2, 5, 5, 4, 4),
 (1612, 2, 4, 5, 4, 5),
 (1614, 2, 4, 5, 5, 5),
 (1616, 3, 4, 5, 5, 4),
 (1618, 2, 5, 5, 4, 4),
 (1620, 2, 4, 4, 5, 5),
 (1622, 3, 4, 4, 5, 4),
 (1624, 2, 6, 5, 4, 4),
 (1626, 3, 4, 4, 5, 4),
 (1628, 2, 4, 4, 5, 5),
 (1632, 2, 5, 5, 4, 4),
 (1636, 0, 0, 0, 0, 0),
 (1638, 2, 5, 5, 4, 5),
 (1644, 2, 5, 5, 4, 4),
 (1646, 2, 4, 5, 5, 5),
 (1648, 2, 5, 5, 4, 4),
 (1650, 2, 5, 5, 4, 4),
 (1652, 2, 4, 5, 4, 5),
 (1654, 1, 6, 5, 4, 5),
 (1656, 2, 5, 4, 4, 4),
 (1658, 2, 4, 5, 5, 5),
 (1662, 2, 4, 5, 5, 5),
 (1664, 2, 4, 5, 5, 5),
 (1666, 3, 4, 4, 5, 5),
 (1672, 2, 4, 4, 6, 5),
 (1674, 2, 5, 5, 4, 4),
 (1676, 0, 0, 0, 0, 0),
 (1678, 2, 4, 4, 5, 5),
 (1680, 1, 5, 5, 4, 5),
 (1682, 2, 4, 4, 5, 5),
 (1684, 2, 5, 5, 4, 4),
 (1686, 2, 5, 4, 4, 4),
 (1688, 1, 5, 5, 4, 5),
 (1690, 2, 5, 4, 4, 4),
 (1692, 3, 4, 5, 5, 4),
 (1694, 2, 5, 4, 5, 4),
 (1696, 2, 5, 4, 4, 4),
 (1698, 1, 5, 5, 4, 5)]

# using variables <a class="anchor" id="variables"></a>

In [ ]:
customerid = 11000

Two syntax options are working: $variable or :variable:

In [ ]:
%sql select top 5 *  from [Sales].[SalesOrderHeader] where CustomerID = :customerid

In [ ]:
%sql select top 5 * from [Sales].[SalesOrderHeader] where CustomerID  = $customerid

In [ ]:
type(customerid)

In [ ]:
tablename = '[Sales].[SalesOrderHeader]'

In [ ]:
%sql select top 100 * from $tablename

# store resultset into variable <a class="anchor" id="dataset"></a>

In [ ]:
db_query = '''
select top 100 * from [Sales].[SalesOrderHeader] '''

In [ ]:
result = %sql $db_query

In [ ]:
result[0]

Print full resultset:

In [ ]:
type(result)

In [ ]:
res = pd.DataFrame(data = result.dicts())

In [ ]:
res

Print second line from resultset ( starts from 0):

In [ ]:
result[10]

Print one cell from resultset:

Iterate over the resultset:

In [ ]:
for i in result.dicts():
    print (i['SalesOrderNumber'])

Look how easy to visualize the query result using pie chart:

In [ ]:
pl = %sql select top 5 SalesPersonID, sum(TotalDue) as SalesAmount from $tablename group by SalesPersonID order by sum(TotalDue) desc;

In [ ]:
pl.bar()

# pyodbc without Jupyter Magic <a class="anchor" id="pyodbc"></a>

In [ ]:
import pyodbc
import pandas as pd
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=localhost;DATABASE=AdventureWorks2019;Trusted_Connection=yes')

In [ ]:
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=2022dsiwd.database.windows.net;DATABASE=AdventureWorks2019;UID=admin2022dsiwd;PWD=Divergence!2022dsiwd')

In [ ]:
sql = "select top 100 * from [Sales].[SalesOrderHeader] "
data = pd.read_sql(sql,conn)

In [ ]:
data

In [ ]:
type(data)

In [ ]:
import pandas
sql = "SELECT * from [dbo].[titanic2022]"
data = pandas.read_sql(sql,conn2)
data

In [ ]:
foo =data[['Pclass','Survived']].values.tolist()
#.values.tolist()
foo.copy()

In [ ]:
foo =[[d,f] for d in data['Survived'].values for f in data['Pclass']]
{f for f in foo}

In [ ]:
#Azure SQl Connection
conn2 = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=2022dsiwd.database.windows.net;UID=admin2022dsiwd;DATABASE=AdventureWorks2020;PWD=Divergence!2022dsiwd')