# Pandas Basics

In [1]:
children = ["Andrew","Laura","Joe"]
lol_children = [[c, len(c)]  for c in children]
lol_children

[['Andrew', 6], ['Laura', 5], ['Joe', 3]]

In [2]:
# may need to run on download from python.org
!pip install pandas

Requirement already satisfied: pandas in c:\users\roflo\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\roflo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\roflo\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\roflo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\roflo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [3]:
#DataFrame from LOL
import pandas as pd
df_lol_children = pd.DataFrame(lol_children,columns = ["child","charlen"])
df_lol_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [4]:

len_char = [len(c) for c in children]
d_children = {"child": children, "charlen": len_char}
d_children

{'child': ['Andrew', 'Laura', 'Joe'], 'charlen': [6, 5, 3]}

In [5]:
#DataFrame from dictionary
df_d_children = pd.DataFrame(d_children)
df_d_children

    child  charlen
0  Andrew        6
1   Laura        5
2     Joe        3

In [6]:
df_d_children.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   child    3 non-null      object
 1   charlen  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

## Get the data

In [7]:
import pandas as pd
poll_url = 'http://projects.fivethirtyeight.com/general-model/president_general_polls_2016.csv'
polls = pd.read_csv(poll_url)

In [12]:
import datetime as datetime

In [30]:
polls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cycle             12624 non-null  int64
 1   branch            12624 non-null  object
 2   type              12624 non-null  object
 3   matchup           12624 non-null  object
 4   forecastdate      12624 non-null  datetime64[ns]
 5   state             12624 non-null  object
 6   startdate         12624 non-null  datetime64[ns]
 7   enddate           12624 non-null  object
 8   pollster          12624 non-null  object
 9   grade             11337 non-null  object
 10  samplesize        12621 non-null  float64
 11  population        12624 non-null  object
 12  poll_wt           12624 non-null  float64
 13  rawpoll_clinton   12624 non-null  float64
 14  rawpoll_trump     12624 non-null  float64
 15  rawpoll_johnson   8397 non-null   float64
 16  rawpoll_mcmullin  90 non-null     float64
 17  adjpoll_clinton   12624 non-null  float64
 18  adjpoll_trump     12624 non-null  float64
 19  adjpoll_johnson   8397 non-null   float64
 20  adjpoll_mcmullin  90 non-null     float64
 21  multiversions     36 non-null     object
 22  url               12621 non-null  object
 23  poll_id           12624 non-null  int64
 24  question_id       12624 non-null  int64
 25  createddate       12624 non-null  object
 26  timestamp         12624 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(3), object(12)
memory usage: 2.6+ MB

In [28]:
polls.startdate.value_counts()

10/20/2016    480
11/1/2016     465
10/25/2016    408
10/4/2016     351
10/27/2016    300
             ...
11/13/2015      3
11/7/2015       3
2/6/2016        3
7/3/2016        3
12/18/2015      3
Name: startdate, Length: 352, dtype: int64

In [29]:
polls["startdate"] = pd.to_datetime(polls["startdate"])

In [19]:
polls.forecastdate.head(5)

0    11/8/16
1    11/8/16
2    11/8/16
3    11/8/16
4    11/8/16
Name: forecastdate, dtype: object

In [24]:
polls["forecastdate"] = pd.to_datetime(polls["forecastdate"])

In [25]:
polls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12624 entries, 0 to 12623
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   cycle             12624 non-null  int64
 1   branch            12624 non-null  object
 2   type              12624 non-null  object
 3   matchup           12624 non-null  object
 4   forecastdate      12624 non-null  datetime64[ns]
 5   state             12624 non-null  object
 6   startdate         12624 non-null  object
 7   enddate           12624 non-null  object
 8   pollster          12624 non-null  object
 9   grade             11337 non-null  object
 10  samplesize        12621 non-null  float64
 11  population        12624 non-null  object
 12  poll_wt           12624 non-null  float64
 13  rawpoll_clinton   12624 non-null  float64
 14  rawpoll_trump     12624 non-null  float64
 15  rawpoll_johnson   8397 non-null   float64
 16  rawpoll_mcmullin  90 non-null     float64
 17  adjpoll_clinton   12624 non-null  float64
 18  adjpoll_trump     12624 non-null  float64
 19  adjpoll_johnson   8397 non-null   float64
 20  adjpoll_mcmullin  90 non-null     float64
 21  multiversions     36 non-null     object
 22  url               12621 non-null  object
 23  poll_id           12624 non-null  int64
 24  question_id       12624 non-null  int64
 25  createddate       12624 non-null  object
 26  timestamp         12624 non-null  object
dtypes: datetime64[ns](1), float64(10), int64(3), object(13)
memory usage: 2.6+ MB

In [ ]:
polls.columns

In [ ]:
polls.tail()

## Sort the data

In [ ]:
polls.sort_values('enddate', ascending=False, inplace=True)
polls.head()

## Use lists, slices, tuples, and dictionary objects

### A list

In [8]:
polls.drop?

Signature:
polls.drop(
    labels=None,
    axis: 'Axis' = 0,
    index=None,
    columns=None,
    level: 'Level | None' = None,
    inplace: 'bool' = False,
    errors: 'str' = 'raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level. See the `user guide <advanced.shown_levels>`
for more information about the now unused levels.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop. A tuple will be used as a single
    label and not treated as a list-like.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index : single label or list-like
    Alternative to specifying axis (``labels, axis=0``
    is equivalent to ``index=labels``).
columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If False, return a copy. Otherwise, do operation
    inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
DataFrame or None
    DataFrame without the removed index or column labels or
    None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis.

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3, 0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

Drop a specific index combination from the MultiIndex
DataFrame, i.e., drop the combination ``'falcon'`` and
``'weight'``, which deletes only the corresponding row

>>> df.drop(index=('falcon', 'weight'))
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      c:\users\roflo\anaconda3\lib\site-packages\pandas\core\frame.py
Type:      method

In [ ]:
# columns=['cycle','branch','matchup','forecastdate'], inplace=True
dict_input = {"columns":['cycle','branch','matchup','forecastdate'], "inplace":True}
polls.drop(**dict_input)
polls.head(2)

### A dictionary, ranges and comprehension

In [ ]:
polls = polls.rename(columns={'adjpoll_clinton':'Clinton',
                      'adjpoll_trump':'Trump'})
polls.info()

In [ ]:
len(polls)

In [ ]:
num = [f for f in range(0,12624)]
num

In [ ]:
num[0:100]

### Two slices

In [ ]:
foo = polls.loc[0:100:10,'state':'grade'].index
foo

In [ ]:
",".join([str(f) for f in foo])